.question {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}

.image {
  width: 500px;
  height: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
  border-radius: 15%;
  overflow: hidden;
  background-color: var(--color-grey-700);
  margin: auto;
  border: 5px rgb(202, 191, 216) solid;
}

.image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}