.list {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
}

.success {
  padding: 10px;
  text-align: center;
  background-color: var(--color-success-500);
  color: var(--color-grey-800);
}

.incomplete {
  padding: 10px;
  text-align: center;
  background-color: var(--color-incomplete-500);
  color: white;
}

.error {
  padding: 10px;
  text-align: center;
  background-color: var(--color-error-500);
  color: white;
}

.actions { 
  margin-top: var(--size-4);
  text-align: right;
}

.title {
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: var(--color-primary-700);
  border: 1px solid var(--color-primary-700);
  padding: var(--size-2) var(--size-4);
  border-radius: 4px;
  color: var(--color-primary-50);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}